body{
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
	font-size: 45px; 
	text-align:center;
}
p{
	font-size: 16px; 
	color: #808080; 
	text-align:justify;
}
h2{
	font-size: 35px; 
	color: #000000; 
	text-align:center;
}
li{
	font-style: bold;
	color:#808080;
	text-align: left;
}

.tituloPortal {
	display: inline-flex; 
	background-color: white; 
	padding: 9px 15px;
	border-radius: 5px;
	
}
.navMenu{
	text-align:center;
	border: solid 1px #A9A9A9;
	padding-top: 20px;
	padding-bottom:20px;
	margin-bottom:30px;
	background: #000080;
}
.navMenu a, .navMenu a:visited{
	letter-spacing: 1px;
	padding-right:30px;
	font-size:20px;
	color: #fff;
	text-decoration:none;
}

.navMenu a.active{
	font-weight:900;
	text-decoration:underline;
}
.noticiaDestaque{
	padding:20px;
	border: solid 1px #A9A9A9;
	margin-top:10px
}

.citacao{
	font-size: 17px; 
	font-style: italic;
	color: #000000; 
	text-align:justify;
}

.linha{
	display: flex;
}

.imgNoticia {
	width: 40%;
}
.imagemTitulo{
	width: 55%;
	display: block; 
	margin: 0 auto;
}
.imgNoticia img, .imgNoticiaLer img{
	width: 90%;
}

.textoNoticia {
	padding:5px;
	width: 55%;
 }

.outrasNoticias{
	padding:20px;
	padding-top:5px;
	border: solid 1px #A9A9A9;
	margin-top:10px
}

#rodape_pagina {
	margin-top:40px;
	float:left;
	width:100%;
}

#rodape_pagina p{
	text-align:center;
	border: solid 1px #A9A9A9;
	padding-top: 8px;
	padding-bottom:8px;
	font-size: 17px; 
	font-family: Verdana;
	color: #fff;
	background: #000080;
}

.lerNoticia{
	padding:20px;
	margin-top:10px
}

.tituloLerNoticia{
	margin-left: 20%;
	margin-right: 20%;
}

.tituloLerNoticia h2{
	font-size: 40px;
}

.tituloNoticia {
	text-align:center;
	width: 100%;
	text-decoration: underline;
}

.imgNoticiaLer {
	width: 60%;
	float: left;
	margin-left: 20%;
	margin-right: 20%;
}

.textoNoticiaLer {
	padding:5px;
	width: 55%;
	float: left;
	margin-left: 20%;
	margin-right: 20%;
}

.link{
	text-align: right;
}
/*produtos */
.produtos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
	gap: 20px; 
	padding: 20px;
}
  
.produto {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}
  
.imagem-com-zoom {
	max-width: 100%;
	height: auto;
	transition: transform 0.3s ease; 
}
  
.imagem-com-zoom:hover {
	transform: scale(1.1); 
}
  
.preco {
	font-weight: bold;
	color: #007bff; 
}
  
.botao {
	background-color: #007bff; 
	color: white; 
	padding: 10px 20px;
	border: none; 
	border-radius: 5px; 
	cursor: pointer;
}
  
.botao:hover {
	background-color: #0056b3; 
}

.contato {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color:whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*pagina contato*/
.contato h2 {
    text-align: center;
    margin-bottom: 20px;
}
.contato label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px; 
}
.contato input, .contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #08090a;
    border-radius: 3px;
    box-sizing: border-box;
}
.contato textarea {
    resize: vertical;
}
.contato button {
    background-color: #000a0aef;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.contato button:hover {
    background-color: #419b9b;
}
.contato div {
    margin-bottom: 20px; 
}
/*pagina obrigado*/
.obrigado {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #e0eaf9;

    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.obrigado img {
	width: 500px; 
	height: 300px;
  }
  /*celulares */
@media (max-width: 767px) { 
.navMenu {
	display: flex;
	flex-wrap: wrap; 
	justify-content: center; 
}
img[alt="Obrigado GIF"] {
    max-width: 94%;
  }
.navMenu a {
	font-size: 75%;
	padding: 10px; 
	margin: 5px; 
}

.linha {
	flex-direction: column; 
}

.imgNoticia, .textoNoticia {
	width: 100%; 
}

.outrasNoticias {
	grid-template-columns: 1fr; 
}

}
/*tablets */
@media (min-width: 768px) and (max-width: 991px){
.navMenu {
	display: flex;
	flex-wrap: wrap; 
	justify-content: center; 
}

.navMenu a {
	font-size: 90%; 
	padding: 12px; 
	margin: 5px; 
}

.linha {
	flex-direction: column; 
}

.imgNoticia, .textoNoticia {
	width: 100%; 
}

.outrasNoticias {
	grid-template-columns: repeat(2, 1fr); 
}

}
/*monitores e tvs */
@media (min-width: 992px) {

.navMenu {
	display: flex; 
	justify-content: space-around;  
}

.navMenu a {
	font-size: 110%; 
	padding-right: 30px; 
	margin: 0; 
}

.linha {
	flex-direction: row; 
}

.imgNoticia {
	width: 40%;  
}

.textoNoticia {
	width: 55%;  
}

.outrasNoticias {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

}